body {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  margin: 0px;
  top: 0px;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: pink;
}

.pikachu {
	width: 500px;
	height: 500px;
	background-size: 500px 500px;

	position: relative;
	margin: 0 auto;
	top: 200px;

	border: solid 1px white;
}

.oriPic {
	width: 500px;
	height: 500px;
	background-size: contain;
	background-image: url(../image/pikachuOri.png);
	background-repeat: no-repeat;

	position: absolute;
	top: 0px;
	left: 0px;
}

.container {
	width: 500px;
	height: 500px;
	background-size: 500px 500px;

	position: absolute;
	top: 0px;
	left: 0px;
}

.left-ear {
	width: 40px;
	height: 140px;
	background: #ffe658;

	border-top-left-radius: 70px 160%;
	border-top-right-radius: 70px 160%;
	border-bottom-left-radius: 70px 80%;
	border-bottom-right-radius: 70px 120%;

	position: absolute;
	top: 22px;
	left: 68px;
	
	transform: rotate(-17deg);

	opacity: 0.5;
}

.cheek {
	width: 180px;
	height: 174px;
	background: #ffe658;
	
	border-top-left-radius: 74% 66%;
	border-top-right-radius: 58% 58%;
	border-bottom-left-radius: 70% 46%;
	border-bottom-right-radius: 60% 62%;

	position: absolute;
	top: 119px;
	left: 70px;

	opacity: 0.5;
}

.right-ear {
	width: 40px;
	height: 140px;
	background: #ffe658;

	border-top-left-radius: 70px 160%;
	border-top-right-radius: 70px 160%;
	border-bottom-left-radius: 70px 80%;
	border-bottom-right-radius: 70px 120%;

	position: absolute;
	top: 22px;
	left: 236px;
	
	transform: rotate(30deg);

	opacity: 0.5;
}

.pikachuBody {
	width: 187px;
	height: 198px;
	background-size: 187px 198px;
/*border: solid 1px red;*/
	position: absolute;
	top: 225px;
	left: 74px;
}

.bodyUpper {
	width: 186px;
	height: 220px;
	background: #ffe658;
	
	border-top-left-radius: 80% 120%;
	border-top-right-radius: 10% 100%;
	border-bottom-left-radius: 50% 50%;
	border-bottom-right-radius: 60% 40%;

	position: absolute;
	top: -40px;
	left: 0px;
	
	transform: rotate(-5deg);

	opacity: 0.5;
}

.pikachuAss {
	width: 100px;
	height: 30px;
	background: #ffe658;

	border-top-left-radius: 5% 5%;
	border-top-right-radius: 5% 5%;
	border-bottom-left-radius: 120% 120%;
	border-bottom-right-radius: 120% 120%;

	position: relative;
	margin: 0 auto;
	top: 208px;
	right: 10px;

	transform: rotate(7deg);
}

.leg-left {
	width: 90px;
	height: 90px;
	background: #ffe658;
	
	border-top-left-radius: 70% 50%;
	border-top-right-radius: 50% 50%;
	border-bottom-left-radius: 60% 60%;
	border-bottom-right-radius: 50% 50%;

	position: absolute;
	top: 110px;
	left: -10px;

	opacity: 0.5;
}

.foot-left {
	width: 70px;
	height: 20px;
	background: #ffe658;
	
	border-top-left-radius: 10% 10%;
	border-top-right-radius: 10% 10%;
	border-bottom-left-radius: 10% 10%;
	border-bottom-right-radius: 10% 10%;

	position: absolute;
	top: 90px;
	left: 0px;

	opacity: 0.5;
}

.leg-right {
	width: 120px;
	height: 120px;
	background: #ffe658;

	border-top-left-radius: 70% 70%;
	border-top-right-radius: 60% 60%;
	border-bottom-left-radius: 60% 60%;
	border-bottom-right-radius: 50% 70%;

	position: absolute;
	top: 84px;
	right: -16px;

	opacity: 0.5;
}

.foot-right {
	width: 30px;
	height: 22px;
	background: #ffe658;


	border-top-left-radius: 10% 10%;
	border-top-right-radius: 10% 10%;
	border-bottom-left-radius: 10% 10%;
	border-bottom-right-radius: 10% 10%;

	position: absolute;
	top: 120px;
	right: 30px;

	opacity: 0.5;
}