body {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  margin: 0px;
  top: 0px;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: pink;
}

.pikachu {
	width: 500px;
	height: 500px;
	background-size: 500px 500px;

	position: relative;
	margin: 0 auto;
	top: 200px;

	border: solid 1px white;
}

.oriPic {
	width: 500px;
	height: 500px;
	background-size: contain;
	background-image: url(../image/pikachuOri.png);
	background-repeat: no-repeat;

	position: absolute;
	top: 0px;
	left: 0px;
}

.container {
	width: 500px;
	height: 500px;
	background-size: 500px 500px;

	position: absolute;
	top: 0px;
	left: 0px;
}

.left-ear {
	width: 40px;
	height: 140px;
	background: #ffe658;

	border-top-left-radius: 70px 160%;
	border-top-right-radius: 70px 160%;
	border-bottom-left-radius: 70px 80%;
	border-bottom-right-radius: 70px 120%;

	position: absolute;
	top: 22px;
	left: 68px;
	
	transform: rotate(-17deg);
}

.cheek {
	width: 180px;
	height: 174px;
	background: #ffe658;
	
	border-top-left-radius: 74% 66%;
	border-top-right-radius: 58% 58%;
	border-bottom-left-radius: 70% 46%;
	border-bottom-right-radius: 60% 62%;

	position: absolute;
	top: 119px;
	left: 70px;
}

.right-ear {
	width: 40px;
	height: 140px;
	background: #ffe658;

	border-top-left-radius: 70px 160%;
	border-top-right-radius: 70px 160%;
	border-bottom-left-radius: 70px 80%;
	border-bottom-right-radius: 70px 120%;

	position: absolute;
	top: 22px;
	left: 236px;
	
	transform: rotate(30deg);
}

.pikachuBody {
	width: 187px;
	height: 198px;
	background-size: 187px 198px;

	position: absolute;
	top: 225px;
	left: 74px;
}

.bodyUpper {
	width: 186px;
	height: 220px;
	background: #ffe658;
	
	border-top-left-radius: 80% 120%;
	border-top-right-radius: 10% 100%;
	border-bottom-left-radius: 50% 50%;
	border-bottom-right-radius: 60% 40%;

	position: absolute;
	top: -40px;
	left: 0px;
	
	transform: rotate(-5deg);
}

.pikachuAss {
	width: 100px;
	height: 30px;
	background: #ffe658;

	border-top-left-radius: 5% 5%;
	border-top-right-radius: 5% 5%;
	border-bottom-left-radius: 120% 120%;
	border-bottom-right-radius: 120% 120%;

	position: relative;
	margin: 0 auto;
	top: 208px;
	right: 10px;

	transform: rotate(7deg);
}

.leg-left {
	width: 90px;
	height: 90px;
	background: #ffe658;
	
	border-top-left-radius: 70% 50%;
	border-top-right-radius: 50% 50%;
	border-bottom-left-radius: 60% 60%;
	border-bottom-right-radius: 50% 50%;

	position: absolute;
	top: 110px;
	left: -10px;
}

.foot-left {
	width: 62px;
	height: 18px;
	background: #ffe658;
	
	border-top-left-radius: 80% 100%;
	border-top-right-radius: 60% 60%;
	border-bottom-left-radius: 20% 30%;
	border-bottom-right-radius: 40% 60%;

	position: absolute;
	top: 87px;
	left: 8px;
	
	transform: rotate(-5deg);
}

.leg-right {
	width: 120px;
	height: 120px;
	background: #ffe658;

	border-top-left-radius: 70% 70%;
	border-top-right-radius: 60% 60%;
	border-bottom-left-radius: 60% 60%;
	border-bottom-right-radius: 50% 70%;

	position: absolute;
	top: 84px;
	right: -16px;
}

.foot-right {
	width: 26px;
	height: 28px;
	background: #ffe658;

	border-top-left-radius: 60% 40%;
	border-top-right-radius: 100% 120%;
	border-bottom-left-radius: 90% 60%;
	border-bottom-right-radius: 80% 60%;

	position: absolute;
	top: 114px;
	right: 32px;
	
	transform: rotate(-13deg);
}

.pikachuTail {
	width: 280px;
	height: 280px;

	position: absolute;
	top: 130px;
	left: 150px;
}

.tailElement-01 {
    width: 230px;
	height: 0;

	border-top: 60px solid #ffe658;
    border-left: 18px solid transparent;
    border-right: 30px solid transparent; 
	
	position: absolute;
	top: 40px;
	right: -26px;
	
	transform: rotate(-24deg);
}

.tailElement-02 {
	width: 0;
	height: 0;

	border-bottom: 66px solid  #ffe658;
    border-left: 160px solid transparent;

    position: absolute;
	top: 58px;
	right: -1px;
	
	transform: rotate(2deg);
}

.tailElement-03-container {
	position: absolute;
	top: 74px;
	left: 106px;

	transform: rotate(50deg);
}

.tailElement-03 {
    width: 126px;
	height: 36px;

	background: #ffe658;
	transform: skew(-30deg);

	position: absolute;
	top: 0px;
	left: 0px;
}

.tailElement-04-container {
	position: absolute;
	top: 186px;
	left: 81px;

	transform: rotate(-25deg);
}

.tailElement-04 {
	width: 100px;
	height: 42px;

	background: #ffe658;
	transform: skew(16deg);

	position: absolute;
	top: 0px;
	left: 0px;
}

.tailElement-05 {
	width: 100px;
	height: 0;
	
	border-left: 40px solid transparent;
	border-bottom: 50px solid #ffe658;
	border-right: 40px solid transparent;

	position: absolute;
	top: 188px;
	left: 46px;
	
	transform: rotate(5deg);
}